body
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #4f5d6e;
	position: relative;
    background: rgb(26,49,95);
    background: #FFF;
    background: -moz-linear-gradient(top,  rgba(26,49,95,1) 0%, rgba(26,49,95,1) 10%, rgba(29,108,141,1) 24%, rgba(41, 136, 151, 1) 37%, rgba(39,45,100,1) 77%, rgba(26,49,95,1) 90%, rgba(26,49,95,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,49,95,1)), color-stop(10%,rgba(26,49,95,1)), color-stop(24%,rgba(29,108,141,1)), color-stop(37%,rgba(41, 136, 151, 1)), color-stop(77%,rgba(39,45,100,1)), color-stop(90%,rgba(26,49,95,1)), color-stop(100%,rgba(26,49,95,1)));
    background: -webkit-linear-gradient(top,  rgba(26,49,95,1) 0%,rgba(26,49,95,1) 10%,rgba(29,108,141,1) 24%,rgba(41, 136, 151, 1) 37%,rgba(39,45,100,1) 77%,rgba(26,49,95,1) 90%,rgba(26,49,95,1) 100%);
    background: -o-linear-gradient(top,  rgba(26,49,95,1) 0%,rgba(26,49,95,1) 10%,rgba(29,108,141,1) 24%,rgba(41, 136, 151, 1) 37%,rgba(39,45,100,1) 77%,rgba(26,49,95,1) 90%,rgba(26,49,95,1) 100%);
    background: -ms-linear-gradient(top,  rgba(26,49,95,1) 0%,rgba(26,49,95,1) 10%,rgba(29,108,141,1) 24%,rgba(41, 136, 151, 1) 37%,rgba(39,45,100,1) 77%,rgba(26,49,95,1) 90%,rgba(26,49,95,1) 100%);
    background: linear-gradient(to bottom,  rgba(26,49,95,1) 0%,rgba(26,49,95,1) 10%,rgba(29,108,141,1) 24%,rgba(41, 136, 151, 1) 37%,rgba(39,45,100,1) 77%,rgba(26,49,95,1) 90%,rgba(26,49,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#1a315f',GradientType=0 );
}


.body-wrap{min-height:700px; }
.body-wrap {
    position: relative;
    z-index: 0;
    background: #FFF;
}
.body-wrap:before,
.body-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 260px;
    background: #FFF;
    background: -moz-linear-gradient(top,  rgba(26,49,95,1) 0%, rgba(26,49,95,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,49,95,1)), color-stop(100%,rgba(26,49,95,0)));
    background: -webkit-linear-gradient(top,  rgba(26,49,95,1) 0%,rgba(26,49,95,0) 100%);
    background: -o-linear-gradient(top,  rgba(26,49,95,1) 0%,rgba(26,49,95,0) 100%);
    background: -ms-linear-gradient(top,  rgba(26,49,95,1) 0%,rgba(26,49,95,0) 100%);
    background: linear-gradient(to bottom,  rgba(26,49,95,1) 0%,rgba(26,49,95,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#001a315f',GradientType=0 );
}
.body-wrap:after {
    top: auto;
    bottom: 0;
    background: #FFF;
    background: -moz-linear-gradient(top,  rgba(26,49,95,0) 0%, rgba(26,49,95,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,49,95,0)), color-stop(100%,rgba(26,49,95,1)));
    background: -webkit-linear-gradient(top,  rgba(26,49,95,0) 0%,rgba(26,49,95,1) 100%);
    background: -o-linear-gradient(top,  rgba(26,49,95,0) 0%,rgba(26,49,95,1) 100%);
    background: -ms-linear-gradient(top,  rgba(26,49,95,0) 0%,rgba(26,49,95,1) 100%);
    background: linear-gradient(to bottom,  rgba(26,49,95,0) 0%,rgba(26,49,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a315f', endColorstr='#1a315f',GradientType=0 );
}
nav{margin-top:60px;box-shadow: 5px 4px 5px #000;
}